/* Estilos generales */

body {
    color: #000;
    background: #332F29;
    font-size: 100%;
}

#contenedor {
    width: 800px;
    background: #8FA68E;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

nav {
    background: #CC3910;
    float: left;
    width: 160px;
}

ul {
    list-style-type: none;
}

a {
    color: #F1F2C0;
    text-decoration: none;
}

section {
    background: #F1F2C0;
    float: left;
    margin: 0 0 0 25px;
    width: 400px;
}

aside {
    background: #CCC59E;
    float: right;
    width: 190px;
}

/* Media query para resoluciones menores de 800px */

@media only screen and (max-width: 800px) {
    #contenedor {
        width: 100%; /* El contenedor se expandirá para ocupar todo el ancho disponible */
    }

    nav {
        width: 100%; /* La barra de navegación se expandirá para ocupar todo el ancho disponible */
        float: none; /* Eliminamos el flotante para que los elementos se apilen verticalmente */
    }

    section {
        width: 100%; /* La sección ocupará todo el ancho disponible menos el margen izquierdo */
        float: none; /* Eliminamos el flotante para que los elementos se apilen verticalmente */
        margin: 0; /* Agregamos un margen automático para centrar la sección */
		height: 100%; /* Establecemos la altura al 100% de la ventana gráfica */
        overflow: auto; /* Añadimos desplazamiento si el contenido excede la altura */
    }

    aside {
        width: 100%; /* La sección adicional ocupará todo el ancho disponible */
        float: none; /* Eliminamos el flotante para que los elementos se apilen verticalmente */
    }
}
